#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  padding-top: 15vh;
  padding-bottom: 15vh;
}


.card img {
  max-height: 50vh;
  width:auto;
  
}
#sapin {
  width: 100%;
}
img {
  width: 100%;
}

.threadLine {
  min-height: 20vh;
  height: 20vh;
  max-height: 20vh;
  margin-top: 10vh;
  width: 2vw;
  margin: 0 auto;
  position: relative;
}
.dotted {
  background:
    repeating-linear-gradient(180deg,920c0c 0 5px,#0000 0 7px);
}


.full {
  background-color: #920c0c;
  border: solid 1px #920c0c;
}



