#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  
}

#root h1 {
  padding-bottom: 5vh;
}


.card img {
  max-height: 50vh;
  width:auto;
  
}
#sapin {
  width: 100%;
}
img {
  width: 100%;
}

.threadLine {
  min-height: 20vh;
  height: 20vh;
  max-height: 20vh;
  margin-top: 10vh;
  width: 2vw;
  margin: 0 auto;
  position: relative;
}
.threadStart {
  border-radius: 0 0 2vw 2vw ;
}

.threadEnd {
  border-radius: 2vw 2vw 0 0 ;
  min-height: 25vh;
  height: 25vh;
  max-height: 25vh;
}

.dot {
  border-radius: 50%;
  height: 1.2vw;
  width: 1.2vw;
  margin-top: 0.4vw;
  margin-bottom: 0.4vw;
  background-color: rgb(20, 84, 56);
  border: solid 1px rgb(20, 84, 56);
  position: relative;
  
}


.full {
  background-color: #920c0c;
  border: solid 1px #920c0c;
}



