
.card {
  background-color: rgb(30, 29, 29);
  width: 100%;
  min-height: 20vh;
  padding-bottom: 5vw;
  padding-left: 5vw;
  padding-right: 5vw;
  border: solid 0.5vw rgb(32, 108, 75);
  border-radius: 5vw;
  
}
.card .contentWrapper .content {
  overflow:hidden;
  
  height: auto;
  transition: max-height 2s ease;
}

.card.opened .contentWrapper {
  max-height: 100vh;
}

.card .content {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease 0.1s, transform 0.3s ease 0.1s;

}

.card.opened .content {
  overflow: hidden;
  opacity: 1 !important;
  transform: translateY(0);
}

.gift {
  background-image: url("/src/assets/gift.jpg");
}

.soon {
  filter: grayscale(1.0);
}



.circle {

  position:relative;
  top: 0;
  margin-top: -5vw;
    left: calc(50% - 5vw);
    height: 10vw;
  text-align: center;
  line-height: 10vw;
  background-color: #920c0c;
  vertical-align: middle;
  width: 10vw;
  shape-outside: circle(50%);
  border: solid 0.5vw rgb(20, 84, 56);
  border-radius: 50%;
}

.img-wrapper {
  position: relative;
  width: 100%;
  font-size: 0;
}
.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(30%);
}

.img-wrapper img {width: 100%;}