@use 'sass:math';
$d: 50;      // density
$w: 1200;     // grid size
$s: 5s; // speed
// Generate the snow image using radial gradients
$grad: ();
@for $i from 0 to $d {
  $v: math.random(4) + 2;
    $a: math.random(5) * .1 + .5;
  $grad: $grad, radial-gradient(
      $v+px $v+px at
      (math.random($w - $v * 2) + $v)+px (math.random($w - $v * 2) + $v)+px,
      rgba(255,255,255,$a) 50%,
      rgba(0,0,0,0)
  ) !global;
}
.container {
  position: relative;
  height: 100%;      /* or any fixed height */
  width: 100%;
  overflow: hidden;  /* important to hide the top offset of the snow */
}
// The CSS
html {
  background: linear-gradient(#123 30%, #667);
}

.snow, .snow:before, .snow:after {
  z-index: -1;
  position: fixed;
  top: -$w + px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: $grad;
  background-size: $w + px $w + px;
  animation: snow $s linear infinite;
  content: "";
}
.snow:after {
  margin-left: calc(-1 * $w / 3) + px;
  opacity: .4;
  animation-duration: $s*2;
  animation-direction: reverse;
  filter: blur(3px);
}
.snow:before {
  animation-duration: $s*3;
  animation-direction: reverse;
  margin-left: calc(-1 * $w / 2) + px;
  opacity: .65;
  filter: blur(1.5px);
}
@keyframes snow {
  to {
    transform: translateY($w + px);
  }
}
